img {
  width: 700px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

#header {
  text-align: center;
  font-family: Didot;
}
